/* hamburger icon starts*/
#menu{
          font-size: 3rem;
          cursor: pointer;
          color: var(--fade);
          display: none;
        }
        @media(max-width:768px){
          #menu{
              display: block;
          }
          header .navbar{
            position: fixed;
            top: 6.5rem; right: -120%;
            width: 60%;
            height: 100%;
            text-align: left;
            align-items: flex-start;
            background-color:var(--dark-blue);
        
          }
          header .navbar ul{
            flex-flow: column;
            padding: 1rem;
          }
          header .navbar ul li{
            text-align: center;
            width: 100%;
            margin: 1rem 0;
            border-radius: .5rem;
            width: 20rem;
          }
          header .navbar ul li a{
            display: block;
            padding: 1rem;
            text-align: left;
            color: var(--fade);
            font-size: 1.6rem;
          }
          header .navbar ul li a.active,
          header .navbar ul li a:hover{
            padding: 1rem;
            color: var(--pure);
            border-radius: .5rem;
            border-bottom: 0.5rem solid var(--pure);
          }
          .fa-times{
            transform: rotate(180deg);
          }
          header .navbar.nav-toggle{
            right: 0;
          }
        }
        /* hamburger icon ends */
        